/* =========================
   IT CYBER ANIMATION
========================= */


body{

background:#020617;
overflow-x:hidden;

}


/* Background Network */

.cyber-bg{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

z-index:-1;

overflow:hidden;

background:

linear-gradient(
90deg,
rgba(0,229,255,.05) 1px,
transparent 1px
),

linear-gradient(
rgba(0,229,255,.05) 1px,
transparent 1px
);

background-size:50px 50px;

}


/* Floating Code */


.cyber-bg span{

position:absolute;

color:#00e5ff;

font-family:monospace;

font-size:30px;

font-weight:bold;

opacity:.5;

text-shadow:

0 0 10px cyan;


animation:

floatCode 10s infinite linear;


}




.cyber-bg span:nth-child(1){

left:10%;

animation-delay:0s;

}


.cyber-bg span:nth-child(2){

left:25%;

animation-delay:2s;

}


.cyber-bg span:nth-child(3){

left:40%;

animation-delay:4s;

}


.cyber-bg span:nth-child(4){

left:55%;

animation-delay:1s;

}


.cyber-bg span:nth-child(5){

left:70%;

animation-delay:3s;

}


.cyber-bg span:nth-child(6){

left:80%;

animation-delay:5s;

}


.cyber-bg span:nth-child(7){

left:90%;

animation-delay:6s;

}




@keyframes floatCode{


0%{

transform:

translateY(100vh)

rotate(0deg);


opacity:0;

}



20%{

opacity:1;

}



100%{

transform:

translateY(-20vh)

rotate(360deg);


opacity:0;

}


}







/* Terminal */


.terminal{


background:

rgba(0,0,0,.6);


border:

1px solid #00e5ff;


width:350px;

padding:20px;


border-radius:15px;


box-shadow:

0 0 20px cyan;


font-family:

monospace;


color:#00ff88;



}





#codeText::after{


content:"_";


animation:

blink .7s infinite;


}



@keyframes blink{


50%{

opacity:0;

}

}







/* Neon Button */


button{


background:#00e5ff;


box-shadow:


0 0 10px cyan,

0 0 30px cyan;


transition:.3s;


}



button:hover{


transform:

scale(1.1);


box-shadow:


0 0 20px cyan,

0 0 60px #8b5cf6;


}







/* Card IT Style */


.card{


background:

rgba(255,255,255,.08);


border:

1px solid rgba(0,229,255,.4);


backdrop-filter:

blur(15px);



transition:.4s;


}




.card:hover{


transform:

translateY(-15px);


border-color:

#8b5cf6;


box-shadow:


0 0 30px #8b5cf6;



}
