*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Kanit',sans-serif;
}

body{
background:linear-gradient(
135deg,
#ffffff,
#e8f5ff,
#d6eeff
);
min-height:100vh;
}

nav{
position:fixed;
top:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;

background:rgba(255,255,255,.8);
backdrop-filter:blur(10px);

box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.logo{
font-size:28px;
font-weight:bold;
color:#3498ff;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
text-decoration:none;
color:#3498ff;
font-weight:600;
}

.hero{
padding-top:150px;
text-align:center;
}

.hero img{
width:250px;
height:250px;
object-fit:cover;
border-radius:50%;
border:8px solid white;

box-shadow:0 0 30px #7fc7ff;
}

.hero h1{
margin-top:30px;
font-size:50px;
color:#2677ff;
}

.hero p{
margin-top:20px;
font-size:20px;
}

.btn{
display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#4fa9ff;

color:white;

text-decoration:none;

border-radius:50px;
}

.about{
padding:100px 10%;
}

.card{

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.card h2{
color:#2677ff;
margin-bottom:20px;
}

footer{
margin-top:100px;
padding:25px;
text-align:center;
background:#dbeeff;
}
